<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>About</title>
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This site was created by Pin Sukjaroen Use Mapbox and StackWeather for API</p>
        <img src="/space.jpg" class="portrait" alt="img">
    </div>
    {{>footer}}
</body>

</html>